<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.business.mapper.DailyMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dailyMenuResultMap" type="org.springblade.modules.business.entity.DailyMenu">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="date" property="date"/>
        <result column="meal_type" property="mealType"/>
        <result column="dish_id" property="dishId"/>
    </resultMap>


    <select id="selectDailyMenuPage" resultMap="dailyMenuResultMap">
        select * from yl_daily_menu where is_deleted = 0
    </select>

</mapper>
