<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.business.mapper.DishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dishResultMap" type="org.springblade.modules.business.entity.Dish">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
    </resultMap>


    <select id="selectDishPage" resultMap="dishResultMap">
        select * from yl_dish where is_deleted = 0
    </select>

</mapper>
