<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.business.mapper.IncidentRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="incidentRecordResultMap" type="org.springblade.modules.business.entity.IncidentRecord">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="incident_type" property="incidentType"/>
        <result column="description" property="description"/>
        <result column="occurred_at" property="occurredAt"/>
        <result column="loss" property="loss"/>
    </resultMap>


    <select id="selectIncidentRecordPage" resultMap="incidentRecordResultMap">
        select * from yl_incident_record where is_deleted = 0
    </select>

</mapper>
